<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accusoft.ImageGear.Core" version="25.1.1" targetFramework="net472" />
  <package id="Accusoft.ImageGear.PDF" version="25.1.1" targetFramework="net472" />
  <package id="Accusoft.ImageGear.Vector" version="25.1.1" targetFramework="net472" />
  <package id="Accusoft.ScanFixXpress.Net" version="9.0.846" targetFramework="net472" />
  <package id="Accusoft.SmartZone.Runtime.Win" version="7.0.178" targetFramework="net472" />
  <package id="Accusoft.SmartZoneOCR.Net" version="7.0.178" targetFramework="net472" />
</packages>